.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #ffffff94;
  padding: 50px 100px;
  border-radius: 5px;
  position: relative;
}

.two-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formStyle {
  width: 100%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}

.inputKey {
  width: 80px;
}

.btnStyle {
  margin-top: 20px;
  background: #6e68fc;
  outline: 0;
  border: 0;
  padding: 18px 40px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s;
}

.btnStyle:hover {
  background: #4942ef;
  transform: translateY(-3px);
}
.btnStyle:active {
  transition: 0.2s;
  background: #1b14c0;
  transform: translateY(1px);
}

.result-text {
  font-size: 20px;
  transition: 0.2s;
  z-index: 2;
}
.result-text:hover {
  color: #4725ed;
  transform: translateY(-2px);
}
.result-text:active {
  transition: 0.2s;
  background: #4625ed94;
}

.result-box {
  max-width: 400px;
  margin-top: 15px;
  word-break: break-word;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #ffffff94;
  padding: 50px 100px;
  border-radius: 5px;
}

.clear-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  height: auto;
}
.clear-icon:hover {
  transition: 0.2s ease-in;
  background: #ec2222;
  transform: translateY(-2px);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.clear-icon:active {
  transition: 0.1s;
  background: #ff0000;
  transform: translateY(2px);
}
.change-icon {
  position: absolute;
  top: 50px;
  right: 0;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  height: auto;
}
.change-icon:hover {
  transition: 0.2s ease-in;
  background: #8dff48;
  transform: translateY(-2px);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.change-icon:active {
  transition: 0.1s;
  background: #60ff00;
  transform: translateY(2px);
}

@media (max-width: 480px) and (min-width: 320px) {
  .box {
    background: #ffffffbd;
    padding: 45px 45px 65px 45px;
  }
  .result-box {
    padding: 50px;
  }
  .formStyle {
    flex: 4;
    padding: 18px 20px;
    font-size: 16px;
  }

  .inputKey {
    flex: 1;
    width: 0;
  }

  .btnStyle {
    margin-top: 15px;
    padding: 16px 35px;
    font-size: 16px;
  }

  .change-icon {
    top: unset;
    bottom: 0;
    margin: 10px;
    padding: 5px;
  }

  .clear-icon {
    bottom: 0;
    top: unset;
    left: 0;
    margin: 10px;
    padding: 5px;
  }
}
