.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-top: 20px;
}

img.logo {
  width: 180px;
  height: auto;
}

.like-box {
  font-size: 20px;
  color: #ffffffe1 !important;
  position: relative;
  transition: 1s;
  cursor: pointer;
}
.like-link {
  color: #ffffffe1;
  text-decoration: none !important;
  transition: 0.2s;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
}
.like-link:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 480px) and (min-width: 320px) {
  img.logo {
    width: 120px;
    height: auto;
  }

  .like-box {
    font-size: 16px;
    color: white;
  }
}
