.app {
  background: linear-gradient(45deg, #e40cd5 30%, #3528f0 100%);
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 90%;
  margin: auto;
}

.frontText {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  font-size: 30px;
  color: white;
  text-align: center;
}

@media (max-width: 480px) and (min-width: 320px) {
  .frontText {
    font-size: 20px;
    padding: 40px 0px;
  }
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
